* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(46, 43, 43);
    /* background-color: blue; */
    width: 15rem;
    height: 100vh;
}

.logo {
    width: 10rem;
    color: white;
    margin-left: 2rem;
}

ul {
    margin-top: 3rem;
}

li {
    list-style-type: none;
    /* margin: 1rem 1rem 0 0rem; */
    color: #fff;
    /* background-color: red; */
}

.icon {
    color: #fff
}